<h1>Listing builds</h1>

<table id="builds-table">
  <tr>
	<th>session_id</th>
    <th>started_by</th>
    <th>build_created_at</th>
    <th>summary_status</th>
    <th>duration</th>
    <th>worker_time</th>
    <th>bundle_time</th>
    <th>num_workers</th>
    <th>branch</th>
    <th>commit_id</th>
  </tr>
</table>
